/.bash_history
/.bash_logout
/.bash_profile
/.bash_profile.swp
/.bashrc
/.bashrc.swp
/.boost_compute
/.cache
/.conda
/.config
/.gnupg
/.hypothesis
/.ipython
/.jupyter
/.keras
/.local
/.netrc
/.nv
/.pki
/.profile
/.python_history
/.rpmdb
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/.wget-hsts
/anaconda3
/music
/wandb
/agerec/data